:root {
  --color-link: rgba(225, 98, 89, 1);
}

[data-theme="default"] {
  --theme: default;
  --color-text: rgba(107, 31, 25, 1);
  --rgb-link-highlight: 255, 98, 89;
  --color-link-highlight: rgba(var(--rgb-link-highlight), 0.25);
}

[data-theme="dark"] {
  --theme: dark;
  --color-text: rgba(243, 244, 246, 1);
  --rgb-link-highlight: 255, 98, 89;
  --color-link-highlight: rgba(var(--rgb-link-highlight), 0.25);
}

/* fancy hover effect for anchor tags */
.fancy-anchor {
  position: relative;
  /* color: rgba(225, 98, 89, 1); */
  color: var(--color-link);
  transition: 0.25s;
  /* box-shadow: inset 0 0em transparent, inset 0 -0.1em rgba(225, 98, 89, 1); */
  box-shadow: inset 0 0em transparent,
    inset 0 -0.1em var(--color-link-highlight);
}

.fancy-anchor:hover,
.fancy-anchor:focus {
  color: color-text;

  box-shadow: inset 0 0em transparent, inset 0 -1.1em rgba(178, 93, 87, 0.25);
}
